#top-Button {
    visibility: hidden;
    position: fixed;
    bottom: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 2rem;
    border: 1px solid #001c55;
  }

@media screen and (width<720px) {
  #arrow{
    height: 2rem;
  }
  #top-Button{
    padding: 2px;
    right: 0.5rem;
    bottom: 5rem;
  }
}